:root {
  --bgcolor: #060a1c;
  --bgcolortransparent: #060a1cdd;
  --maincolor: #bababa;
  --accentcolor: #8c4040;
  --shadowcolor: #03050c;
}



body {
  background-color: var(--bgcolor);
  color: var(--maincolor);
  margin: 0;
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  transition: all 0.2s;
  text-decoration: none;
  color: inherit;
}

span {
  color: var(--accentcolor);  
}

a {
  transition: all 0.2s;
  text-decoration: none;
  color: inherit;
}
a:hover {
  transition: all 0.5s;
  color: var(--accentcolor);
}

header {
  transition: all .5s;
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: var(--bgcolortransparent);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: var(--accentcolor);
  box-shadow:  10px 10px 10px var(--shadowcolor);
  z-index: 10;
}

header div {
  padding: 10px;
  white-space: nowrap;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 100px; 
  margin-top: 100px;
  min-height: 100vh;
}

footer {
  position: relative;
  background-color: var(--bgcolor);
  top: 100px;
  z-index: 100;
  height: 40px;
  margin-left: 32px;
}
